<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
html(xmlns="http://www.w3.org/1999/xhtml")
 head
  meta(http-equiv="content-type",content="text/html; charset=utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")

  script(type="text/javascript",src="http://m1.daumcdn.net/top-sc/static/mobile11/js/jigu.mobile.min.js",charset="utf-8")
  script(type="text/javascript",src="http://dmaps.daum.net/map_js_init/v3.js")
        
  script(type="text/javascript",src="js/bootstrap.js")
  link(rel="stylesheet",href="css/bootstrap.css", type="text/css")
  link(rel="stylesheet",href="css/bootstrap-responsive.css", type="text/css")

 body
  table.table.table-striped
   tbody
    each good, key in goodList
     tr
      td
       a(href="goodDetail.html?id=#{good._id}")
        i.icon-tag 
        |  #{good.title}
