script(src="http://erkasraim.cafe24.com/js/jquery.js")
script(type="text/javascript", src="http://erkasraim.cafe24.com/js/bootstrap.js")
script(type="text/javascript", src="http://erkasraim.cafe24.com/js/bootstrap-collapse.js")
script(ype="text/javascript", src="http://erkasraim.cafe24.com/js/bootstrap-transition.js")
