- if (type == "admin")
  include layout_admin
- else
  include layout_notice

table.table.table-striped  
  tbody
    each notice, key in noticelist
      tr(onclick="javascript:detail('#{notice._id}');") 
          td 
            i.icon-volume-up(style="padding-right: 7px;")
            | #{notice.title}
          td #{notice.regDttm}

include bootstrap.js.jade
script(type="text/javascript")
  function edit(id) {
    window.location = "/dongwon/notice/edit/"+id;
    return false;
  }
  function newEntity() {
    window.location = "/dongwon/notice/edit/new";
    return false;
  }
  function detail(id) {
    window.location = "/dongwon/notice/detail/"+id+"?type=#{type}"
    return false;
  }

