<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
html(xmlns="http://www.w3.org/1999/xhtml")
 head
  meta(http-equiv="content-type", content="text/html; charset=utf-8")
  meta(name="viewport", content="width=320, user-scalable=no")
  title Q & A
  link(rel="stylesheet", href="css/noticeDetail.css", type="text/css")

 body#faq
  div
   h2
    div.icon
     div.title.detail #{qna.title}
   div#info.
    #{qna.description}
